<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Storia | Percorso 3</title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="transparent" />
        <meta name="description" content="Studio Willen" />
        <link rel="shortcut icon" href="../images/favicon.jpg" />
        <meta name="theme-color" content="#ffffff" />
        <style>
            @supports (-ms-ime-align: auto) {
                * {
                    cursor: initial !important;
                }
                .nav__link {
                    color: #000 !important;
                }

                .nav__link::after {
                    background-color: #000 !important;
                }

                .nav__logo svg #L-–-About-01 {
                    fill: #000 !important;
                    stroke: #000 !important;
                }

                .nav__burger .text-image__trigger::after {
                    background-color: #000;
                }
            }
        </style>
        <link href="../css/main.css" rel="stylesheet" />
    </head>

    <body class="en state--cursor-hidden transition-in transition-out">
	<audio id="bg-audio" type="audio/mp3"></audio>
        <header>
            <nav class="nav will-appear">
				<a class="nav__link js-page-transition" href="../">Storia | Percorso 3</a>
                <a class="nav__logo js-page-transition" href="../">
                    <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg" style="vector-effect: non-scaling-stroke;" stroke="null">
					 <g stroke="null">
					  <text stroke="#fff" style="vector-effect: non-scaling-stroke;" transform="matrix(7.7376079950266945,0,0,7.226941084146855,-408.54417930800685,-709.6405906265206) " xml:space="preserve" text-anchor="start" font-family="'Courier New', Courier, monospace" font-size="24" id="svg_1" y="131.8314" x="82.768955" stroke-width="0" fill="#fff">S</text>
					  <text style="cursor: move;" stroke="#fff" transform="matrix(3.0623254381124085,0,0,3.03756221144536,-36.309817901123424,-17.67986151355088) " xml:space="preserve" text-anchor="start" font-family="'Courier New', Courier, monospace" font-size="24" id="svg_2" y="20.860905" x="10.810539" fill-opacity="null" stroke-opacity="null" stroke-width="0" fill="#fff">S</text>
					  <rect stroke="#999999" stroke-width="0.7" rx="1" id="svg_6" height="49.642968" width="0.634834" y="0.178516" x="41.441938" fill="#444444"/>
					 </g>
					</svg>
                </a>
                <div class="nav__burger">
                    <div class="nav__burger-inner">
                        <a href="#" class="text-image__trigger js-text-image__trigger"></a>
                        <div class="text-image__text-inner js-text-image__text-inner">
                            <div class="js-text-image__text-wrapper">
                                <ul>
                                    <li><a class="nav__link js-page-transition" href="viaggi-e-viaggiatori">Viaggi e viaggiatori</a></li>
                                    <li><a class="nav__link js-page-transition" href="alberghi-e-albergatori">Alberghi e albergatori</a></li>
                                    <li><a class="nav__link js-page-transition" href="pellegrinaggi">Le vie dei pellegrini</a></li>
                                </ul>
                            </div>
                        </div>
                        <a href="#" class="text-image__trigger js-text-image__trigger"></a>
                    </div>
                </div>
            </nav>
        </header>
        <div class="cursor js-cursor"></div>
        <main class="main">
            <div class="content-wrapper">
                <div class="project">
                    <a href="https://studiowillen.net/projects" class="project-overview__category-link will-appear js-page-transition">
                        <div class="project-overview__category-link-inner">
                            <svg viewbox="0 0 7 1.2">
                                <clipPath id="textClip" class="filled-heading"><text text-anchor="end" x="7" y="1" font-size="1" stroke-width=".008" stroke="#000">Studente</text></clipPath>
                                <text text-anchor="end" x="7" y="1" font-size="1" stroke-width=".008" fill="none" stroke="#000">Studente</text>
                                <rect x="0" y="1.2" width="100%" height="50%" fill="#000" clip-path="url(#textClip)" />
                            </svg>
                        </div>
                    </a>
                    <div class="project__header-image will-appear">
                        <picture class="responsive-image" style="background-image: url(../images/viaggio.jpg); padding-top: 75%;">
                        </picture>
                    </div>
                    <div class="project__header">
                        <div class="project__header-info will-appear">
                            <h1 class="project__header-title">Titolo</h1>
                            <div class="project__header-subline"><p></p></div>
                        </div>
                        <div class="project__header-text will-appear">
                            <p>
                                Often when we travel, we bring objects back home with us. This is how we remember experiences. David and Tania Willen dug up some of those found objects and souvenirs from their respective private archives.
                                These special mementos were captured on camera in March and April 2020 and, thus, invite us to go on a virtual journey within the confines of our own homes. These objects aren’t necessarily valuable – first
                                and foremost, they trigger emotions. Of course, these emotions are primarily linked to the owners’ individual experiences. However, viewing these images may well evoke different memories for each and everyone
                                of us.
                            </p>
                            <p>(Picture above: Visiting Santa Claus, Rovaniemi, Finland 2019)</p>
                        </div>
                    </div>
					<div class="content-wrapper">
						<div class="text-only will-appear will-appear">
							<div class="text-only__text rich-text">
								<h1 class="project__header-title">Titolo</h1>
								<p>
									Often when we travel, we bring objects back home with us. This is how we remember experiences. David and Tania Willen dug up some of those found objects and souvenirs from their respective private archives.
									These special mementos were captured on camera in March and April 2020 and, thus, invite us to go on a virtual journey within the confines of our own homes. These objects aren’t necessarily valuable – first
									and foremost, they trigger emotions. Of course, these emotions are primarily linked to the owners’ individual experiences. However, viewing these images may well evoke different memories for each and everyone
									of us.
								</p>
							</div>
						</div>
					</div>
                    <div class="text-image will-appear state--portrait">
                        <div class="text-image__image">
                            <picture class="responsive-image" style="background-image: url(https://studiowillen.net/imager/assets/Comissions/Riposa-Key-u-Corporate/3027/Riposa-Keyvisual_Studio-Willen_02_bc9e4c42e52fd22ff41eda620350ec20.webp); padding-top: 133.35%;">
                                
                            </picture>
                        </div>
                        <div class="text-image__text">
                            <a href="#" class="text-image__trigger js-text-image__trigger"></a>
                            <div class="text-image__text-inner js-text-image__text-inner">
                                <div class="js-text-image__text-wrapper"><p>A shake of salt from Stoke Newington, London, UK 2018</p></div>
                            </div>
                            <a href="#" class="text-image__trigger js-text-image__trigger"></a>
                        </div>
                    </div>
                    <div class="project__header-image will-appear">
                        <picture class="responsive-image" style="background-image: url(../images/via-della-seta.jpg); padding-top: 75%;">
                            
                        </picture>
                        <div class="center-image__text">
                            <a href="#" class="text-image__trigger js-text-image__trigger"></a>
                            <div class="text-image__text-inner js-text-image__text-inner">
                                <div class="js-text-image__text-wrapper"><p>Alcuni mercanti che percorrono la famosa Via della Seta</p></div>
                            </div>
                            <a href="#" class="text-image__trigger js-text-image__trigger"></a>
                        </div>
                    </div>
                    <div class="project__header-image will-appear">
                        <picture class="responsive-image" style="background-image: url(/assets/Projects/In-an-Octopus’s-Garden/_tiny/Octopus-s-Garden_Studio-Willen_04.jpg); padding-top: 75%;">
                            <source
                                data-srcset="/imager/assets/Projects/In-an-Octopus’s-Garden/11696/Octopus-s-Garden_Studio-Willen_04_bc9e4c42e52fd22ff41eda620350ec20.webp 2000w, /imager/assets/Projects/In-an-Octopus’s-Garden/11696/Octopus-s-Garden_Studio-Willen_04_d3867277feb154defec9b24a5714fadb.webp 1000w"
                                type="image/webp"
                            />
                            <img
                                data-src="/assets/Projects/In-an-Octopus’s-Garden/_small/Octopus-s-Garden_Studio-Willen_04.jpg"
                                data-srcset="/imager/assets/Projects/In-an-Octopus’s-Garden/11696/Octopus-s-Garden_Studio-Willen_04_bc9e4c42e52fd22ff41eda620350ec20.jpg 2000w, /imager/assets/Projects/In-an-Octopus’s-Garden/11696/Octopus-s-Garden_Studio-Willen_04_d3867277feb154defec9b24a5714fadb.jpg 1000w"
                                alt="Octopus s Garden Studio Willen 04"
                            />
                        </picture>
                        <div class="center-image__text">
                            <a href="#" class="text-image__trigger js-text-image__trigger"></a>
                            <div class="text-image__text-inner js-text-image__text-inner">
                                <div class="js-text-image__text-wrapper"><p>In an octopus’s garden, Syracuse, Italy 2009</p></div>
                            </div>
                            <a href="#" class="text-image__trigger js-text-image__trigger"></a>
                        </div>
                    </div>
					<div class="project__header">
                        <div class="project__header-info will-appear">
                            <h1 class="project__header-title">Titolo</h1>
                            <div class="project__header-subline"><p></p></div>
                        </div>
                        <div class="project__header-text will-appear">
                            <p>
                                Often when we travel, we bring objects back home with us. This is how we remember experiences. David and Tania Willen dug up some of those found objects and souvenirs from their respective private archives.
                                These special mementos were captured on camera in March and April 2020 and, thus, invite us to go on a virtual journey within the confines of our own homes. These objects aren’t necessarily valuable – first
                                and foremost, they trigger emotions. Of course, these emotions are primarily linked to the owners’ individual experiences. However, viewing these images may well evoke different memories for each and everyone
                                of us.
                            </p>
                            <p>(Picture above: Visiting Santa Claus, Rovaniemi, Finland 2019)</p>
                        </div>
                    </div>
					<div class="content-wrapper">
						<div class="text-only will-appear">
							<div class="text-only__text rich-text">
								<h1 class="project__header-title">Titolo</h1>
								<p>
									Often when we travel, we bring objects back home with us. This is how we remember experiences. David and Tania Willen dug up some of those found objects and souvenirs from their respective private archives.
									These special mementos were captured on camera in March and April 2020 and, thus, invite us to go on a virtual journey within the confines of our own homes. These objects aren’t necessarily valuable – first
									and foremost, they trigger emotions. Of course, these emotions are primarily linked to the owners’ individual experiences. However, viewing these images may well evoke different memories for each and everyone
									of us.
								</p>
							</div>
						</div>
					</div>
					<div class="text-image will-appear state--portrait">
                        <div class="text-image__image">
                            <picture class="responsive-image" style="background-image: url(/assets/Projects/In-an-Octopus’s-Garden/_tiny/Octopus-s-Garden_Studio-Willen_06.jpg); padding-top: 133.35%;">
                                <source
                                    data-srcset="/imager/assets/Projects/In-an-Octopus’s-Garden/11698/Octopus-s-Garden_Studio-Willen_06_bc9e4c42e52fd22ff41eda620350ec20.webp 2000w, /imager/assets/Projects/In-an-Octopus’s-Garden/11698/Octopus-s-Garden_Studio-Willen_06_d3867277feb154defec9b24a5714fadb.webp 1000w"
                                    type="image/webp"
                                />
                                <img
                                    data-src="/assets/Projects/In-an-Octopus’s-Garden/_small/Octopus-s-Garden_Studio-Willen_06.jpg"
                                    data-srcset="/imager/assets/Projects/In-an-Octopus’s-Garden/11698/Octopus-s-Garden_Studio-Willen_06_bc9e4c42e52fd22ff41eda620350ec20.jpg 2000w, /imager/assets/Projects/In-an-Octopus’s-Garden/11698/Octopus-s-Garden_Studio-Willen_06_d3867277feb154defec9b24a5714fadb.jpg 1000w"
                                    alt="Octopus s Garden Studio Willen 06"
                                />
                            </picture>
                        </div>
                        <div class="text-image__text">
                            <a href="#" class="text-image__trigger js-text-image__trigger"></a>
                            <div class="text-image__text-inner js-text-image__text-inner">
                                <div class="js-text-image__text-wrapper"><p>Not from the moon, but found by a beloved person on Lanzarote, Spain 2015</p></div>
                            </div>
                            <a href="#" class="text-image__trigger js-text-image__trigger"></a>
                        </div>
                    </div>
                    <div class="text-image will-appear state--portrait">
                        <div class="text-image__image">
                            <picture class="responsive-image" style="background-image: url(/assets/Projects/In-an-Octopus’s-Garden/_tiny/Octopus-s-Garden_Studio-Willen_07.jpg); padding-top: 133.35%;">
                                <source
                                    data-srcset="/imager/assets/Projects/In-an-Octopus’s-Garden/11699/Octopus-s-Garden_Studio-Willen_07_bc9e4c42e52fd22ff41eda620350ec20.webp 2000w, /imager/assets/Projects/In-an-Octopus’s-Garden/11699/Octopus-s-Garden_Studio-Willen_07_d3867277feb154defec9b24a5714fadb.webp 1000w"
                                    type="image/webp"
                                />
                                <img
                                    data-src="/assets/Projects/In-an-Octopus’s-Garden/_small/Octopus-s-Garden_Studio-Willen_07.jpg"
                                    data-srcset="/imager/assets/Projects/In-an-Octopus’s-Garden/11699/Octopus-s-Garden_Studio-Willen_07_bc9e4c42e52fd22ff41eda620350ec20.jpg 2000w, /imager/assets/Projects/In-an-Octopus’s-Garden/11699/Octopus-s-Garden_Studio-Willen_07_d3867277feb154defec9b24a5714fadb.jpg 1000w"
                                    alt="Octopus s Garden Studio Willen 07"
                                />
                            </picture>
                        </div>
                        <div class="text-image__text">
                            <a href="#" class="text-image__trigger js-text-image__trigger"></a>
                            <div class="text-image__text-inner js-text-image__text-inner">
                                <div class="js-text-image__text-wrapper"><p>Memories of a Finnish childhood, Helsinki, Finland 2016</p></div>
                            </div>
                            <a href="#" class="text-image__trigger js-text-image__trigger"></a>
                        </div>
                    </div>
                    <div class="project__header-image will-appear">
                        <picture class="responsive-image" style="background-image: url(/assets/Projects/In-an-Octopus’s-Garden/_tiny/Octopus-s-Garden_Studio-Willen_08.jpg); padding-top: 75%;">
                            <source
                                data-srcset="/imager/assets/Projects/In-an-Octopus’s-Garden/11700/Octopus-s-Garden_Studio-Willen_08_bc9e4c42e52fd22ff41eda620350ec20.webp 2000w, /imager/assets/Projects/In-an-Octopus’s-Garden/11700/Octopus-s-Garden_Studio-Willen_08_d3867277feb154defec9b24a5714fadb.webp 1000w"
                                type="image/webp"
                            />
                            <img
                                data-src="/assets/Projects/In-an-Octopus’s-Garden/_small/Octopus-s-Garden_Studio-Willen_08.jpg"
                                data-srcset="/imager/assets/Projects/In-an-Octopus’s-Garden/11700/Octopus-s-Garden_Studio-Willen_08_bc9e4c42e52fd22ff41eda620350ec20.jpg 2000w, /imager/assets/Projects/In-an-Octopus’s-Garden/11700/Octopus-s-Garden_Studio-Willen_08_d3867277feb154defec9b24a5714fadb.jpg 1000w"
                                alt="Octopus s Garden Studio Willen 08"
                            />
                        </picture>
                        <div class="center-image__text">
                            <a href="#" class="text-image__trigger js-text-image__trigger"></a>
                            <div class="text-image__text-inner js-text-image__text-inner">
                                <div class="js-text-image__text-wrapper"><p>A smoky breeze, Mäntysaari, Finland 2008</p></div>
                            </div>
                            <a href="#" class="text-image__trigger js-text-image__trigger"></a>
                        </div>
                    </div>
                    <div class="project__header-image will-appear">
                        <picture class="responsive-image" style="background-image: url(/assets/Projects/In-an-Octopus’s-Garden/_tiny/Octopus-s-Garden_Studio-Willen_09.jpg); padding-top: 75%;">
                            <source
                                data-srcset="/imager/assets/Projects/In-an-Octopus’s-Garden/11701/Octopus-s-Garden_Studio-Willen_09_bc9e4c42e52fd22ff41eda620350ec20.webp 2000w, /imager/assets/Projects/In-an-Octopus’s-Garden/11701/Octopus-s-Garden_Studio-Willen_09_d3867277feb154defec9b24a5714fadb.webp 1000w"
                                type="image/webp"
                            />
                            <img
                                data-src="/assets/Projects/In-an-Octopus’s-Garden/_small/Octopus-s-Garden_Studio-Willen_09.jpg"
                                data-srcset="/imager/assets/Projects/In-an-Octopus’s-Garden/11701/Octopus-s-Garden_Studio-Willen_09_bc9e4c42e52fd22ff41eda620350ec20.jpg 2000w, /imager/assets/Projects/In-an-Octopus’s-Garden/11701/Octopus-s-Garden_Studio-Willen_09_d3867277feb154defec9b24a5714fadb.jpg 1000w"
                                alt="Octopus s Garden Studio Willen 09"
                            />
                        </picture>
                        <div class="center-image__text">
                            <a href="#" class="text-image__trigger js-text-image__trigger"></a>
                            <div class="text-image__text-inner js-text-image__text-inner">
                                <div class="js-text-image__text-wrapper"><p>Warm memories of a honeymoon, Moab, Utah, USA 2010</p></div>
                            </div>
                            <a href="#" class="text-image__trigger js-text-image__trigger"></a>
                        </div>
                    </div>
                    <div class="project__header-image will-appear">
                        <picture class="responsive-image" style="background-image: url(/assets/Projects/In-an-Octopus’s-Garden/_tiny/Octopus-s-Garden_Studio-Willen_10.jpg); padding-top: 75%;">
                            <source
                                data-srcset="/imager/assets/Projects/In-an-Octopus’s-Garden/11702/Octopus-s-Garden_Studio-Willen_10_bc9e4c42e52fd22ff41eda620350ec20.webp 2000w, /imager/assets/Projects/In-an-Octopus’s-Garden/11702/Octopus-s-Garden_Studio-Willen_10_d3867277feb154defec9b24a5714fadb.webp 1000w"
                                type="image/webp"
                            />
                            <img
                                data-src="/assets/Projects/In-an-Octopus’s-Garden/_small/Octopus-s-Garden_Studio-Willen_10.jpg"
                                data-srcset="/imager/assets/Projects/In-an-Octopus’s-Garden/11702/Octopus-s-Garden_Studio-Willen_10_bc9e4c42e52fd22ff41eda620350ec20.jpg 2000w, /imager/assets/Projects/In-an-Octopus’s-Garden/11702/Octopus-s-Garden_Studio-Willen_10_d3867277feb154defec9b24a5714fadb.jpg 1000w"
                                alt="Octopus s Garden Studio Willen 10"
                            />
                        </picture>
                        <div class="center-image__text">
                            <a href="#" class="text-image__trigger js-text-image__trigger"></a>
                            <div class="text-image__text-inner js-text-image__text-inner">
                                <div class="js-text-image__text-wrapper"><p>My passion, found in Chinatown, New York, USA 2019 &amp; on Broadway Market, London, UK 2018</p></div>
                            </div>
                            <a href="#" class="text-image__trigger js-text-image__trigger"></a>
                        </div>
                    </div>
                    <div class="text-image will-appear state--portrait">
                        <div class="text-image__image">
                            <picture class="responsive-image" style="background-image: url(/assets/Projects/In-an-Octopus’s-Garden/_tiny/Octopus-s-Garden_Studio-Willen_12.jpg); padding-top: 133.35%;">
                                <source
                                    data-srcset="/imager/assets/Projects/In-an-Octopus’s-Garden/11704/Octopus-s-Garden_Studio-Willen_12_bc9e4c42e52fd22ff41eda620350ec20.webp 2000w, /imager/assets/Projects/In-an-Octopus’s-Garden/11704/Octopus-s-Garden_Studio-Willen_12_d3867277feb154defec9b24a5714fadb.webp 1000w"
                                    type="image/webp"
                                />
                                <img
                                    data-src="/assets/Projects/In-an-Octopus’s-Garden/_small/Octopus-s-Garden_Studio-Willen_12.jpg"
                                    data-srcset="/imager/assets/Projects/In-an-Octopus’s-Garden/11704/Octopus-s-Garden_Studio-Willen_12_bc9e4c42e52fd22ff41eda620350ec20.jpg 2000w, /imager/assets/Projects/In-an-Octopus’s-Garden/11704/Octopus-s-Garden_Studio-Willen_12_d3867277feb154defec9b24a5714fadb.jpg 1000w"
                                    alt="Octopus s Garden Studio Willen 12"
                                />
                            </picture>
                        </div>
                        <div class="text-image__text">
                            <a href="#" class="text-image__trigger js-text-image__trigger"></a>
                            <div class="text-image__text-inner js-text-image__text-inner">
                                <div class="js-text-image__text-wrapper"><p>Touching the sky, Brienzer Rothorn, Switzerland 2016</p></div>
                            </div>
                            <a href="#" class="text-image__trigger js-text-image__trigger"></a>
                        </div>
                    </div>
                    <div class="project__header-image will-appear">
                        <picture class="responsive-image" style="background-image: url(/assets/Projects/In-an-Octopus’s-Garden/_tiny/Octopus-s-Garden_Studio-Willen_11.jpg); padding-top: 75%;">
                            <source
                                data-srcset="/imager/assets/Projects/In-an-Octopus’s-Garden/11703/Octopus-s-Garden_Studio-Willen_11_bc9e4c42e52fd22ff41eda620350ec20.webp 2000w, /imager/assets/Projects/In-an-Octopus’s-Garden/11703/Octopus-s-Garden_Studio-Willen_11_d3867277feb154defec9b24a5714fadb.webp 1000w"
                                type="image/webp"
                            />
                            <img
                                data-src="/assets/Projects/In-an-Octopus’s-Garden/_small/Octopus-s-Garden_Studio-Willen_11.jpg"
                                data-srcset="/imager/assets/Projects/In-an-Octopus’s-Garden/11703/Octopus-s-Garden_Studio-Willen_11_bc9e4c42e52fd22ff41eda620350ec20.jpg 2000w, /imager/assets/Projects/In-an-Octopus’s-Garden/11703/Octopus-s-Garden_Studio-Willen_11_d3867277feb154defec9b24a5714fadb.jpg 1000w"
                                alt="Octopus s Garden Studio Willen 11"
                            />
                        </picture>
                        <div class="center-image__text">
                            <a href="#" class="text-image__trigger js-text-image__trigger"></a>
                            <div class="text-image__text-inner js-text-image__text-inner">
                                <div class="js-text-image__text-wrapper"><p>Fishing for dinner, Koirakivi, Finland 1991</p></div>
                            </div>
                            <a href="#" class="text-image__trigger js-text-image__trigger"></a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div class="page-transition">
            <svg width="100" height="100" xmlns="http://www.w3.org/2000/svg" style="vector-effect: non-scaling-stroke;" stroke="null">
			 <g stroke="null">
			  <text stroke="#000" style="vector-effect: non-scaling-stroke;" transform="matrix(7.7376079950266945,0,0,7.226941084146855,-408.54417930800685,-709.6405906265206) " xml:space="preserve" text-anchor="start" font-family="'Courier New', Courier, monospace" font-size="24" id="svg_1" y="131.8314" x="82.768955" stroke-width="0" fill="#000000">S</text>
			  <text style="cursor: move;" stroke="#559E84" transform="matrix(6.946209397991873,0,0,6.890039483567207,-75.93495431112999,-31.689432561576147) " xml:space="preserve" text-anchor="start" font-family="'Courier New', Courier, monospace" font-size="24" id="svg_2" y="18.722269" x="10.876201" stroke-width="0" fill="#ffffff">S</text>
			 </g>
			</svg>
        </div>
		<div id="dismiss-page">
			<div id="text">
				<p>&#128266;</p>
				<p>Vuoi ascoltare una traccia audio di sottofondo?</p>
				<button id="button-yes">Sì</button>
				<button id="button-no">No</button><br/>
				<input type="checkbox" id="confirmation"><label for="confirmation">(Ricorda questa scelta)</label>
			</div>
			<div class="instructions" id="chrome">
				<p>Per poter proseguire, per favore, completa questi passaggi (Chrome):</p>
				<ol>
					<li>1) Premere sull'icona a forma di lucchetto nella barra degli indirizzi</li>
					<li>2) Aprire il menù delle impostazioni relative ad "Audio"</li>
					<li>3) Modificare questo da "Automatica" a "Consenti"</li>
				</ol>
				<button id="button-dismiss">Capito</button>
			</div>
			<div class="instructions" id="safari">
				<p>Per poter proseguire, per favore, completa questi passaggi (Safari):</p>
				<ol type="1">
					<li>1) Premere su "Safari" nella barra in alto</li>
					<li>2) Premere "Impostazioni per il sito web..."</li>
					<li>3) Modificare il campo relativo a "Riproduzione automatica" su "Sempre"</li>
				</ol>
				<button id="button-dismiss">Capito</button>
			</div>
        </div>
        <script type="text/javascript" src="../js/main.js"></script>
    </body>
</html>
